{{#this}}
    <div class="flags">
    <img src="{{this.flags.svg}}" alt="{{this.name.official}} width = "200px" height = "100px">
    <h2 class="contry-name">{{this.name.official}}</h2>
    </div>
    <ul>
        <li>
            <p class="capital">Capital: {{this.capital}}</p>
        </li>
        <li>
            <p class="population">Population: {{this.population}}</p>
        </li>
        <li>
            <p class="languages">Languages: {{this.languages}}</p>
        </li>
    </ul>
{{/this}}