{{#this}}
<div>
    <h2 class="contry-name">{{this.name.official}}</h2>
    <ul>
        <li>
            <p class="capital">Capital: {{this.capital}}</p>
        </li>
        <li>
            <p class="population">Population: {{this.population}}</p>
        </li>
        <li>
            <p class="flags">Flags: {{this.flags.svg}}</p>
        </li>
        <li>
            <p class="languages">Languages: {{this.languages}}</p>
        </li>
    </ul>
</div>
{{/this}}